<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I'm a Computer Science Graduate Student at University of California San Diego. I am highly passionate about Data Engineering, Software Engineering focused on Data platforms, and solving data challenges at scale.</p>
    <p>I enjoy collaborating with diverse, cross-functional teams to gain perspective and come up with solutions to business use-cases using data.</p>
</div><!--//summary-->
</section><!--//section-->