 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">University of California San Diego</h4>
    <h4 class="degree">MS in Computer Science</h4>
    <h4 class="degree">GPA 3.89</h4>
    <div class="time">December 2022</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Sardar Patel Institute of Technology</h4>
    <h4 class="degree">BE in Computer Engineering</h4>
    <h4 class="degree">CGPA 9.0</h4>
    <div class="time">May 2018</div>
</div><!--//item-->
</div><!--//education-container-->