<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Data Systems Analyst</h3>
                            <div class="time">November 2021 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of California San Diego</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a student worker in the Business Intelligence and Analytics (BIA) team within the Information Technology Services (ITS) Department, I am working towards delivering consistent and good quality data to the end-user teams for analysis. My tasks so far include developing and testing of multi-level materialized views on Activity Hubs using SQL on SAP HANA, and implementing data quality checks on the data warehouse.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analyst, Data Architecture/Data Quality Tech team</h3>
                            <div class="time">September 2020 - July 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Institutional Shareholder Services Pvt. Ltd., Mumbai, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on building, testing, and maintaining data pipelines of five vendor data sources and the central data warehouse for reference data of over 1M entities and 50M financial instruments. I also developed ad-hoc functions and stored procedures for APIs used by the downstream teams. As a member of the Data Quality Tech team, I identified and implemented over 150 critical data quality checks as test cases in the existing automated SQL data quality framework and was responsible for monitoring data quality in the data warehouse on a daily basis. I was also the point of contact to the business team for any data discrepancies.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Associate Consultant</h3>
                            <div class="time">June 2018 - September 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">KPMG Assurance and Consulting Services LLP, Mumbai, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a member of the IT Advisory- Risk Consulting Practice, I performed nine Information Risk Management Audits, Internal Audits, and Service Organization Control Audits for financial institutions. The objective of the audits was to evaluate the business process data of the client organization for the given audit period and report on the data security/integrity standards deployed by the organizations. This involved independently liaising with client teams across the globe for performing walkthroughs of their IT infrastructure, extracting audit data, and analyzing the same to report critical findings. I was awarded the titles "Encore Super Team" and "Encore Kudos" for exceptional performance in 2019.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->