<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Teaching Assistant</h3>
                            <div class="time">September 2022 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of California San Diego</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">As a Teaching Assistant for the course 'Data Management for Data Science' at UC San Diego, I conduct independent weekly discussions to cover topics related to relational and non-relational databases and help students set-up the environment for working with different databases covered in the course. I also grade assignments and conduct weekly office hours to answer any questions that students may have.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Data Systems Analyst</h3>
                            <div class="time">November 2021 - September 2022</div>
                        </div><!--//upper-row-->
                        <div class="company">University of California San Diego</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">As a student worker in the Business Intelligence and Analytics (BIA) team within the Information Technology Services (ITS) Department, I worked towards delivering consistent and good quality campus-wide data to the end-user teams for reporting and analytics. I integrated university-wide research data from the vendor database into the SAP HANA data warehouse to enable teams to analyze and monitor the data for compliance (since research is a highly regulated activity). Some of my tasks included developing, testing and optimizing multi-level materialized views on Activity Hubs (data warehouse tables) using SQL on SAP HANA. I also developed stored procedures to identify data quality issues.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Summer Analyst</h3>
                            <div class="time">June 2022 - August 2022</div>
                        </div><!--//upper-row-->
                        <div class="company">Goldman Sachs, Salt Lake City, Utah</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">I was a summer intern in the Position Engineering Team, which produced summaries of firm-wide trading activity data at the end of the trading day. Various teams relied on this data for their business use-cases. My internship project involved building a dashboard application to display the progress and statistics of the complex trade data processing pipeline that comprised of several stages linked together via a dependency graph. The technology used was Java, REST API, MongoDB and React. This dashboard will help internal and external users in monitoring the performance of the data processing pipeline stages and also help with diagnostics in case of pipeline failures. The project involved heavy collaboration across two locations, and hence required thorough CI/CD practices.</p>
                        <p>I also worked with the Customer Relationship Management (CRM) Team to implement business customizations on the Salesforce platform and improve existing workflows. This involved writing Batch job classes, Apex triggers and other data modelling tasks.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analyst, Data Architecture/Data Quality Tech team</h3>
                            <div class="time">September 2020 - July 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Institutional Shareholder Services Pvt. Ltd., Mumbai, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">I worked on building, testing, and maintaining ETL data pipelines for loading reference data of over 1M entities and 50M financial instruments from external data sources into the central data warehouse using SQL Server stored procedures. I also developed ad-hoc functions and stored procedures for APIs used by the data consumers. I actively collaborated with external data vendors and business teams to identify issues and enhancements in the data, and acted as the point of contact for any data discrepancies.</p>
                        <p>As a member of the Data Quality Tech team, I identified and implemented over 150 critical data quality checks as test cases in the existing automated SQL data quality framework and was responsible for monitoring data quality in the data warehouse on a daily basis.  Moreover, I created and maintained a technical document detailing all the transformation logics in the data pipelines to provide an efficient reference to data stakeholders.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Associate Consultant</h3>
                            <div class="time">June 2018 - September 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">KPMG Assurance and Consulting Services LLP, Mumbai, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">As a member of the IT Advisory- Risk Consulting Practice, I performed nine Information Risk Management Audits, Internal Audits, and Service Organization Control Audits for financial institutions. The objective of the audits was to evaluate the business process data of the client organization for the given audit period and report on the data security/integrity standards deployed by the organizations. This involved independently liaising with client teams across the globe for performing walkthroughs of their IT infrastructure, extracting audit data, and analyzing the same to report critical findings. I was awarded the titles "Encore Super Team" and "Encore Kudos" for exceptional performance in 2019.</p>
                        <p>Apart from work responsibilities, I was a member of the National Learning and Development Team that organized trainings for employees. I was also actively involved in social volunteering and organizing department specific events.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->