<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Query Processor Engine for XML Data</h3>
                        <div class="time">January 2022 - Present</div>
                    </div>
                    <br>
                    <p style="text-align:justify"></p>
                    <p style="text-align:justify">Designed and developed a query processor engine using Java, ANTLR and DOM to evaluate input XPath/XQuery query expressions on XML data, as part of the course "Database System Implementation". Currently implementing optimization and join functionality in the query processor.
                    </p>

                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Recipe Cooking and Rating Prediction System</h3>
                        <div class="time">November 2021</div>
                    </div>
                    <br>
                    <p>Kaggle username: Kalyani Bhade</p>
                    <p style="text-align:justify">Implemented logistic regression using Python on user-recipe data from Food.com to predict whether a user would cook a given recipe, and achieved an accuracy of 70%.</p>
                    <p><a href = "https://www.kaggle.com/c/cse158258-cooking-prediction/leaderboard">Kaggle Competition Link</a></p>
                    <p style="text-align:justify">I also implemented a latent factor model using Python to predict user rating for a given recipe and obtained a mean squared error of 0.793 (top 10% on the Kaggle competition leaderboard).</p>
                    <p><a href = "https://www.kaggle.com/c/cse258-recipe-rating-prediction/leaderboard">Kaggle Competition Link</a></p>
                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Grocery Recommendation System</h3>
                        <div class="time">July 2017 - May 2018</div>
                    </div>
                    <br>
                    <p style="text-align:justify">Designed and implemented a recommender system using Django, HTML/CSS and SQL to segment customers based on recency, frequency and monetary values of past transactions and to provide segment specific grocery recommendations. Performed data preparation and visualization using Python libraries like pandas, numpy, matplotlib, etc. for exploratory data analysis.</p>
                    <p>Authored and published a research paper on the same in IEEE. Citation below:</p>
                    <p style="text-align:justify">Kalyani Bhade, Nidhi Harwani, Vedanti Gulalkari and Sudhir Dhage. (2018). A Systematic Approach to Customer Segmentation and Buyer Targeting for Profit Maximization. 9th International Conference on Computing, Communication and Networking Technologies (ICCCNT). 1-6.<a href="https://ieeexplore.ieee.org/document/8494019">10.1109/ICCCNT.2018.8494019</a></p>

                </div>

                <div class="item">
                    <div class="upper-row">
                        <h3 class="job-title">Patient Information Management System for KEM Hospital</h3>
                        <div class="time">July 2016 - July 2017</div>
                    </div>
                    <br>
                    <p style="text-align:justify">Deployed and maintained a Patient Information Management System for the Dermatology Department of KEM Hospital, Mumbai, India using Django to maintain vitiligo patient records and track treatment progress. Implemented user feedback to modify/enhance application features</p>

                </div>

                 </section><!--//section-->
