<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programming Languages: Python, Java, Transact-SQL (T-SQL)</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                <br>    
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Databases: MS SQL Server, SAP HANA, PostgreSQL, Cassandra, MongoDB</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                <br> 

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Big Data Technologies: Hadoop, Hive, Spark, Airflow, Kafka</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud and version control: AWS, Github</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
                </div>  
            </section><!--//skills-section-->